:root {
    --spBlue: #25203A;
    --spPink: #F9B9B3;
    --spGold: #D2AB67;
    --spWhite: white;
    --spGrey: #F8F8F8;
}

a:-webkit-any-link {
    text-decoration: none;
}

a {
    text-decoration: none;
}


body {
    margin: 0;
    padding: 0;
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #333333;

    background: url(./images/background-images/crystalagateShilaAndStyle.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}


@media (min-width:946px) {
    h3 {
        margin: auto;
        text-align: center;
        font-weight: normal;
        width: calc(60vw - 20px);
        color: var(--spBlue);
        font-size: 40px;
        word-wrap: normal;
        line-height: 115%;
    }

    h4 {
        text-align: center;
        font-weight: normal;
        color: var(--spBlue);
        font-size: 32px;
        word-wrap: normal;
        line-height: 115%;
        padding: 0;
        margin: 0;
    }

    h5 {
        font-family: josefin-sans, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        color: var(--spBlue);
        padding: 0;
        margin: 0;
        line-height: 120%;
    }

    h6 {
        margin: 0 auto;
        padding: none;
        text-align: center;
        font-family: josefin-sans, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: var(--spBlue);
        font-size: 15px;
        word-wrap: normal;
        line-height: 115%;
    }

    .logo-image {
        display: block;
        margin: 60px auto 0 auto;
        max-width: 1000px;
        width: 60vw;
        min-width: 600px;
    }

    .intro-text {
        /* background-color: aqua; */
        margin: 150px 0;
    }

    .blue-intro {
        background-color: var(--spBlue);
        padding: 100px 0;
    }

    .blue-intro h3 {
        border: var(--spGold) 2px solid;
        color: var(--spGold);
        padding: 60px 20px;
        width: 55vw;
    }

    .section-description-container {
        display: flex;
        background-color: var(--spWhite);
        padding: 70px 0;
        align-items: center;
        justify-content: center;
        border-top: var(--spGold) 2px solid;
    }

    .section-description-container h4 {
        padding-bottom: 10px;
    }

    .line-1 {
        margin: 0 30px;
        width: 300px;
        height: 2px;
        background-color: var(--spGold);
    }

    .gallery-wrapper {
        /* height: 80vh; */
        border-top: var(--spGold) 2px solid;
        border-bottom: var(--spGold) 2px solid;
        background-color: var(--spWhite);
    }

    .gallery-container {
        margin: auto;
        display: grid;
        grid-template-columns: 15% 20% 50% auto;
        grid-template-rows: 750px;
        max-width: 1920px;
        border-right: var(--spGold) 2px solid;
        border-left: var(--spGold) 2px solid;
        background-color: var(--spWhite);
    }

    .material-buttons-wrapper {
        margin: 30px auto 0 auto;
        width: 100%;
    }

    .material-button {
        font-family: josefin-sans, sans-serif;
        font-weight: normal;
        font-size: 20px;
        background-color: var(--spWhite);
        text-transform: uppercase;
        padding: 15px 0;
        width: 100%;
        border: none;
        outline: none;
    }

    .material-button:hover {
        outline: none;
        color: var(--spWhite);
        background-color: var(--spGold);
        opacity: 0.8;
    }

    .material-button:active {
        outline: none;
        color: var(--spWhite);
        background-color: var(--spGold);
    }

    .product-selection {
        border-right: var(--spGold) 2px solid;
        border-left: var(--spGold) 2px solid;
        padding: 32px 50px 0 50px;
    }

    .mat-description {
        font-family: josefin-sans, sans-serif;
        font-weight: 300;
        font-size: 18px;
        font-style: normal;
        line-height: 120%;
        margin: none;
        padding: none;
    }

    .line-2 {
        width: 100%;
        height: 2px;
        background-color: var(--spGold);
        margin: 32px 0;
    }

    .product-buttons-container {
        margin: auto;
        width: max-content;
        display: grid;
        grid-template-columns: 85px 85px;
        grid-auto-rows: 85px;
        row-gap: 18px;
        column-gap: 18px;
    }

    .product-buttons {
        font-family: josefin-sans, sans-serif;
        height: 100%;
        width: 100%;
        border: none;
        background-image: url(./images/agates/whiteagateShilaAndStyle.jpg);
        background-position: center;
        background-size: cover;
        color: var(--spWhite);
        text-shadow: #363636a8 0px 0px 4px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        outline: var(--spGold) 2px solid;
        background-blend-mode: normal;
        /* transition-property: background-color; */
        /* transition-timing-function: ease-in; */
        /* transition-duration: 300ms; */
    }

    #prod-button-1 {
        background-image: url(./images/agates/whiteagateShilaAndStyle.jpg);
        background-position: center;
        background-size: cover;
    }

    #prod-button-2 {
        background-image: url(./images/agates/blueagateShilaAndStyle.jpg);
        background-position: center;
        background-size: cover;
    }

    #prod-button-3 {
        background-image: url(./images/agates/greyagateShilaAndStyle.jpg);
        background-position: center;
        background-size: cover;
    }

    #prod-button-4 {
        background-image: url(./images/agates/raniagateShilaAndStyle.jpg);
        background-position: center;
        background-size: cover;
    }

    #prod-button-5 {
        background-image: url(./images/agates/crystalagateShilaAndStyle.jpg);
        background-position: center;
        background-size: cover;
    }

    #prod-button-6 {
        background-image: url(./images/agates/greenagateShilaAndStyle.jpg);
        background-position: center;
        background-size: cover;
    }

    #prod-button-7 {
        background-image: url(./images/agates/yellowagateShilaAndStyle.jpg);
        background-position: center;
        background-size: cover;
    }

    #ruby-button-1 {
        background-image: url(./images/ruby/rubyFrontNaturalLitShilaAndStyle.jpg);
        background-position: center;
        background-size: cover;
    }

    .product-buttons:hover {
        background-color: var(--spGold);
        background-blend-mode: soft-light;
        text-shadow: none;
    }

    .product-viewer {
        border-right: solid var(--spGold) 2px;
        /* height: 80vh; */
        background-color: var(--spWhite);
    }

    #semi-precious-product-viewer {
        background-image: url(./images/agates/whiteagateShilaAndStyle.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: auto 130%;
        background-position: 70% 50%;
    }

    #precious-product-viewer {
        background-image: url(./images/ruby/rubyFrontNaturalLitShilaAndStyle.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: auto 130%;
        background-position: 70% 50%;
    }

    .product-info {
        /* height: 80vh; */
        padding: 0 2vw;
        background-color: var(--spWhite);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .backlit-image-container {
        /* background-color: teal; */
        width: 100%;
        /* margin: 28px auto; */
    }

    .backlit-image-container:nth-child(1) {
        margin: 0 auto 36px auto;
    }

    .line-3 {
        background-color: var(--spGold);
        height: 2px;
        width: 100%;
    }

    .backlit-image-container .backlit-front {
        display: block;
        margin: 0 auto 12px auto;
        height: auto;
        width: 75%;
    }

    .backlit-image-container .backlit-side {
        display: block;
        margin: 0 auto 12px auto;
        width: 90%;
        height: auto;
    }

    .backlit-image-container .natural-front {
        display: block;
        margin: 0 auto 12px auto;
        width: 75%;
        height: auto;
    }

    .product-description{
        margin: 0 auto;
    }

    .product-description p {
        font-family: josefin-sans, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 18px;
        line-height: 115%;
        padding: 0;
        margin: 12px auto;
    }

    .product-poetry-container {
        display: grid;
        grid-template-columns: 25vw auto;
        grid-template-rows: 100px;
    }

    .left-column {
        background-color: var(--spWhite);
        border-right: var(--spGold) 2px solid;

    }

    .right-column {
        display: flex;
        background-color: var(--spWhite);
        align-items: center;
        justify-content: center;
    }

    .product-poetry {
        padding: 5px 0 0 0;
        font-family: josefin-sans, sans-serif;
        font-weight: 300;
        font-size: 18px;
        font-style: italic;
        color: var(--spBlue);
        text-align: center;
        line-height: 120%;
    }

    .usage-section {
        background-color: var(--spWhite);
        border-top: var(--spGold) 2px solid;
        border-bottom: var(--spGold) 2px solid;
    }

    .info-heading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        
        padding-top: 53px;
        padding-bottom: 15px;
        }

    .info-heading-container h4 {
        padding-bottom: 10px;
    }

    .info-section-description-container{
        padding: 0 12vw 45px 12vw;
        border-bottom: var(--spGold) 2px solid;
    }

    .info-section-description-text{
        font-family: josefin-sans, sans-serif;
        font-weight: 300;
        font-size: 24px;
        color: var(--spBlue);
        text-align: center;
        line-height: 120%;
    }

    .infosection-description-text p{
        padding: 0;
    }

    .bootstrap-gallery-wrapper {
        margin: auto;
        display: grid;
        grid-template-columns: 15% auto 15%;
        grid-template-rows: max-content;
        max-width: 1920px;
    }

    .bootstrap-gallery-container {
        border-left: var(--spGold) 2px solid;
        border-right: var(--spGold) 2px solid;
    }

    .carousel-item img{
        object-fit: cover;
        z-index: 0;
        height: 42vw !important;
    }

    .overlay{
        background-color: rgba(255, 255, 255, 0.94);
        border: var(--spGold) 2px solid;
        padding: 20px;
        position: absolute;
        z-index: 2;
        word-wrap: normal;
        max-width: 27%;

        font-family: josefin-sans, sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: var(--spBlue);
        line-height: 120%;
    }

    .top{
        top:1%
    }

    .bottom{
        bottom: 1%;
    }
    
    .left{
        left: 1%;
        text-align: left;
    }

    .right{
        right: 1%;
        text-align: right;
    }

    .trust-section {
        background-color: var(--spWhite);
        border-bottom: 2px var(--spGold) solid;
    }

    .gold-text{
        color: var(--spGold);
        font-size: 24px;
        font-weight: 300;
    }

    .image-set-wrapper{
        display: grid;
        grid-template-columns: 15% auto 15%;
        height: max-content;
    }

    .image-container{
        grid-column: 2 / span 1;
        background-color: var(--spWhite);
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: max-content max-content;
        column-gap: 2px;
        background-color: var(--spGold);
        max-width: 1920px;
        border-right: solid var(--spGold) 2px;
        border-left: solid var(--spGold) 2px;
    }

    .craftsmen-image{
        object-fit: cover;
        height: 16vw !important;
        width: 100%;
    }

    #trust-1{
        object-position: center center;
    }

    #trust-2{
        object-position: top center;
    }

    #trust-3{
        object-position: top center;
    }

    /* .purity-container{ */
        /* margin: auto; */
        /* display: grid; */
        /* grid-template-columns: 15% auto 15%; */
        /* grid-template-rows: 35vw; */
        /* max-width: 1920px; */
    /* } */
    
    .purity-image-container{
        border-top: solid 2px var(--spGold);
        background-image: url(./images/purity/purity-bgcopy.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
        height: 30vw;
    }

    .purity-text-container{
        margin: 10% auto 0 auto;
        padding: 20px;
    }

}

@media (max-width:945px) {}